*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Impact Normal', Arial, sans-serif;
}

/* HEADER */
header{
    flex: 1 0 auto;
    width: 100%;
    height: 75vh;
    background: url(../assets/img/pizza2.jpg) no-repeat 50% 50%; 
    background-size: cover;
}
.nav-list{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    justify-content: center;
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
}
.nav-item a {
    text-decoration: none;
    color: white;
}
.nav-item :hover{
    color : #c4c4c4;

}

/* PIZZA */
.container-row{
    display: flex;
    max-width: 1300px;
    width: 80%;
    margin: 50px auto;
    
}
.container-title{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 750px;
    width: 50%;
}
.tittle-one{
    font-size: 80px;
    font-family: 'pacifico';
}
.tittle-two{
    font-size : 100px;
    font-weight: 600;
    margin-top: -65px;
    font-family: 'pacifico';

}

.presentation-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    width: 50%;
}
.presentation-tittle p{
    margin: 0 0;
}

.grille{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap : 45px;
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    /* border : 1px solid black; */
}

.grid-item{
 width: 400px;
 height: 400px;
 cursor: pointer;
}

.grid-img{
    height: 400px;
    width: 400px;
}

.container-presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
}
.description-presentation{
    margin-left : 20px;
    text-align: justify;
}
.container-ingredient{
    position: relative;
    
}
.ingredient{
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #d2c4b3;
    top: 25%;
    opacity: 0;
    transition: 0.8s;
}
.ingredient:hover{
    opacity: 1;
}

h2{
    text-align: center;
    margin: 10px;
    font-family: 'pacifico';
}
li{
    display: flex;
    align-items: center;
}
li img{
    width: 30px;
    height: 30px;
    margin : 7px;
}

/* HORAIRES */
td{
    padding : 5px;
    text-align: center;
}
th{
    padding-right : 10px;
}
thead th{
    padding : 5px;
    text-align: center;
}

/* CONTACTER */
.container-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    width: 50%;
}
.container-contact img{
    margin-right: 10px; 
    width: 50px;
}
.container-contact span{
    margin : 10px;
    display: flex;
    align-items: center;
}
/* FOOTER */
footer{
    background-color: #d2c4b3 ;
}
footer p{
    margin-bottom: 0;
}

/* MEDIA QUERIES */
@media (max-width : 950px) {
    .presentation-tittle{
        width: 100%;
    }
    .presentation-tittle p {
        text-align: justify;
    }
    .container-row{
        flex-direction : column;
        align-content: center;
    }
    .container-contact{
        width: 100%;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
    }
    .nav-item{
        padding : 10px;
    }
    .tittle-one{
        font-size: 50px;
    }
    .tittle-two{
        font-size: 50px;
        margin-top: -50px;
    }
    header{
        height: 50vh;
    }
    .grid-img{
        width: 300px;
        height: 300px;
        cursor: pointer;
    }
    .grid-item{
        width: 300px;
        height: 300px;
       }
    .ingredient{
        width: 300px;
        height: 225px;  
    }
    li img{
        width: 18px;
        height: 18px;
    }
    .grille{
        grid-template-columns: repeat(auto-fill, 300px);
    }
    
}

@media (min-width : 951px) and (max-width : 1058px){

    .grille{
        grid-template-columns: repeat(auto-fill, 300px);
    }
    .grid-item{
        width: 300px;
        height: 300px;
    }
    .grid-img{
        width: 300px;
        height: 300px;
        cursor: pointer;
    }
    .ingredient{
        width: 300px;
        height: 225px;  
    }
    li img{
        width: 18px;
        height: 18px;
    }
}
